!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Exposition
    = stylesheet_link_tag 'hyper_kitten/meow/admin/application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.admin
      %ul
        %li= link_to "Posts", hyper_kitten_meow.admin_posts_path
        %li= link_to "Tags", hyper_kitten_meow.admin_tags_path
      - if logged_in?
        %ul.login
          %li= link_to current_user.name, hyper_kitten_meow.admin_posts_path
          %li= link_to t('sessions.destroy'), hyper_kitten_meow.admin_logout_path
    - if flash.any?
      .flashes
        - user_facing_flashes.each do |key, value|
          %div{:class => "flash-#{key}"}= value
    = yield
