%section.users
  .d-flex.justify-content-between
    %h2 Users
    .action
      = link_to "Add New", hyper_kitten_meow.new_admin_user_path, class: "btn btn-primary"
  %table.table
    %thead
      %tr
        %th Name
        %th Email
        %th Manage
    %tbody
      - @users.each do |user|
        %tr.user
          %td= user.name
          %td= user.email
          %td
            = link_to "Edit", edit_admin_user_path(user), class: "btn btn-sm btn-outline-info"
            = button_to "Delete", admin_user_path(user), method: :delete, class: "btn btn-sm btn-outline-danger", form_class: "d-inline"

  != pagy_bootstrap_nav(@pagy)
