%section.tags
  .d-flex.justify-content-between
    %h2 New Tag
    .action
      = link_to "Back to Tags", hyper_kitten_meow.admin_tags_path, class: "btn btn-primary"
  = form_for @tag, url: admin_tags_path, method: :post, class: "form" do |f|
    = render partial: 'hyper_kitten/meow/admin/shared/error_handler', locals: { model: @tag }
    .mb-3
      = f.label :label, class: "form-label"
      = f.text_field :label, class: "form-control"
    .mb-3= f.submit nil, class: "btn btn-primary"
