%section
  .d-flex.justify-content-between
    %h2= "Edit #{@menu.name}"
    .action
      = link_to "Back to Menus", admin_menus_path, class: "btn btn-secondary"
  = simple_form_for @menu, url: admin_menu_path(@menu), method: :patch do |f|
    = render partial: "form_fields", locals: { f: f }
