%div{ data: { content_blocks_blocks_value: @templates_and_content_blocks.to_json, controller: "content-blocks" } }
  = f.input :title
  = f.input :template,
    as: :select,
    collection: HyperKittenMeow::Page.templates,
    hint: "This is the HTML template used to render the page",
    input_html: { data: { action: "change->content-blocks#updateContentBlockFields", content_blocks_target: "templateField" } }
  .card.mb-3
    .card-body.content-blocks
      %h4 Content Blocks
      %div
        %template{ data: { "content-blocks-target": "contentBlockFieldTemplate" } }
          = f.fields_for :content_blocks, HyperKittenMeow::ContentBlock.new, child_index: "NEW_RECORD" do |content_block|
            = render partial: "content_block_fields", locals: { content_block: content_block }
        .active-content-blocks{ data: {content_blocks_target: "activeBlocksFields" } }
          = f.fields_for :content_blocks, id: dom_id(@page) do |content_block|
            = render partial: "content_block_fields", locals: { content_block: content_block }
  = f.input :slug
  %hr
  = f.input :published, as: :boolean
  = f.submit nil, class: "btn btn-primary"
